/* style.css */

body {
    background-color:maroon;
    color:white;
    font-family: "KoHo", sans-serif;
    margin: 40px;
}

h1 {
    font-size: 60px; /* You can adjust the size to your preference */
}

label {
    font-size: 20px;
}

input {
    width: 300px;
    height: 30px;
}

td, th {
    border: 3px solid black;
    padding: 20px;
}

.header {
    border-radius: 5px;
    text-align: center;
    border: 4px solid black;
    padding: 20px;
}

nav {
    background-color: #333; /* Background color of the navigation bar */
    overflow: hidden;
    text-align: center;
}

/* Style for the navigation bar links */
nav a {
    display: inline-block; /* Make the links block-level elements for better styling */
    color: white; /* Text color */
    text-align: center; /* Center-align the text within each link */
    padding: 14px 16px; /* Padding for each link */
    text-decoration: none; /* Remove underlines from links */
}

/* Change the color of links when hovered over */
nav a:hover {
    background-color: #ddd; /* Background color on hover */
    color: black; /* Text color on hover */
}

.dropdown {
    border-radius: 5px;
    text-align: center;
    border: 4px solid black;
    padding: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.movie-recs {
    font-size: 20px;
    border-radius: 5px;
    text-align: left;
    border: 4px solid black;
    padding: 20px;
}